{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ room.address }}</td>
            </tr>
            <tr>
               <th>Comments</th>
                <td>

               {% for comment in room.comments %}

   <a href="{{ path('comment_show', {'id' : comment.id}) }}">{{ comment.content }}</a>

{% endfor %}


    <a href="{{ path('comment_addtoroom',{'id': room.id})}}">ajouter un commentaire</a>

</td>

            </tr>
             <tr>
               <th>Reservations</th>
                <td>

               {% for reservation in room.reservations %}

   <a href="{{ path('reservation_show', {'id' : reservation.id}) }}">{{ reservation.summary }}</a>

{% endfor %}


    <a href="{{ path('reservation_addtoroom',{'id': room.id})}}">ajouter une reservation</a>

</td>

            </tr>
             <tr>
               <th>Unavailable Periods</th>
                <td>

               {% for unavailable in room.unavailablePeriods %}

   <a href="{{ path('unavailable_period_show', {'id' : unavailable.id}) }}">{{ unavailable.content }}</a>

{% endfor %}


    <a href="{{ path('unavailable_period_addtoroom',{'id': room.id})}}">ajouter une periode d'invalidité</a>

</td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('room_index') }}">back to list</a>

    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
