{% extends 'base.html.twig' %}

{% block title %}UnavailablePeriod index{% endblock %}

{% block body %}
    <h1>UnavailablePeriod index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>Ending</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unavailable_period in unavailable_periods %}
            <tr>
                <td>{{ unavailable_period.id }}</td>
                <td>{{ unavailable_period.Start ? unavailable_period.Start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ unavailable_period.ending ? unavailable_period.ending|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('unavailable_period_show', {'id': unavailable_period.id}) }}">show</a>
                    <a href="{{ path('unavailable_period_edit', {'id': unavailable_period.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('unavailable_period_new') }}">Create new</a>
{% endblock %}
