<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <!-- favicon-->
          <link rel="icon" type="image/x-icon" href="{{ asset("assets/favicon.ico")}}">
        
        {% block javascripts %}
             <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
 <script src="{{ asset('js/scripts.js') }}"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}{# javascripts #}
        
        {% block stylesheets %}
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}{# stylesheets #}

    </head>
    <body>
          {% block menu %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
       
          <a class="navbar-brand" href="{{ path("home")}}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
             <ul class="navbar-nav mr-auto">
                {{ render_bootstrap_menu('main') }}
             </ul>
             <ul class="navbar-nav ms-auto d-grid gap-2 d-md-flex justify-content-md-end">
             <button class="btn btn-outline-light me-2" type="button">
                {{ render_bootstrap_menu('main_droit_1') }}
                </button>
             <button class="btn btn-secondary" type="button" style="color:red">
              {{ render_bootstrap_menu('main_droit_2') }}
                </button>
             </ul>
          </div>
        </div>
     </nav>
   {% endblock %}{# menu #}
  {% block body %}

  <div class="container body-container">

    <main>

      {% block main %}
      <div class="row">
        <div class="col-md-12">
          <p>
            <i>MAIN</i>
          </p>
        </div>
      </div>
      {% endblock %} {# main #}

    </main>

  </div> <!-- /.body-container -->

  {% block footer %}
 
  <footer class="fixed-bottom d-flex justify-content-around align-items-center border-top">
    <div class="text-center w-25 m-4">
    <span class="text-muted">© Capumon, by Caps & Simon</span>
    </div>

    <div class="m-4 w-50  text-center">
   <a href="/" class=" text-center">
      <img   width="40px" height="40"  src="{{ asset("assets/favicon.ico")}}">
    </a>
    </div>
   

 
      <div class="w-25 nav-item m-4 text-center"><a  href="contact" class=" nav-link text-muted">Contact</a></div>

 
  </footer>

  
  {% endblock %}{# footer #}


{% endblock %} {# body #}

    </body>
</html>
