{% extends 'base.html.twig' %}

{% block title %}Owner{% endblock %}

{% block body %}
    <h1>Owner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ owner.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ owner.firstname }}</td>
            </tr>
            <tr>
                <th>FamilyName</th>
                <td>{{ owner.familyName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ owner.address }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ owner.country }}</td>
            </tr>
            <tr>
               <th>Room</th>
                <td>

               {% for room in owner.room %}

   <a href="{{ path('room_show', {'id' : room.id}) }}">{{ room.summary }}</a>

{% endfor %}


    <a href="{{ path('room_addtoowner',{'id': owner.id})}}">ajouter un propriétaire</a>

</td>

            </tr>

            <tr>
               <th>Unavailable Period</th>
                <td>

               {% for unavailable in owner.unavailablePeriod%}

   <a href="{{ path('unavailable_period_show', {'id' : unavailable.id}) }}">{{ unavailable.Start . ' au '. unavailable.ending }}</a>

{% endfor %}


    <a href="{{ path('unavailable_period_addtoowner',{'id': owner.id})}}">ajouter une periode d'invalidité</a>

</td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('owner_index') }}">back to list</a>

    <a href="{{ path('owner_edit', {'id': owner.id}) }}">edit</a>

    {{ include('owner/_delete_form.html.twig') }}
{% endblock %}
